<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<div th:fragment="header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light py-4">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="/image/logo.png" alt="beautytouch">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/index">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/shop">Tiệm Trang điểm</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/list-appointments">Lịch Trang Điểm</a>
                        </li>
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link disabled" aria-disabled="true">Disabled</a>-->
<!--                        </li>-->
                    </ul>
                    <!-- login -->
                    <div class="d-flex align-items-center">
                        <!-- Nút Tài Khoản và Đăng Ký hiển thị khi chưa đăng nhập -->
                        <div sec:authorize="isAnonymous()">
                            <a href="/login" class="btn custom-btn d-inline-flex justify-content-center align-items-center me-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="me-1 bi bi-person-circle" viewBox="0 0 448 512">
                                    <path d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464l349.5 0c-8.9-63.3-63.3-112-129-112l-91.4 0c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304l91.4 0C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7L29.7 512C13.3 512 0 498.7 0 482.3z" />
                                </svg>
                                Tài Khoản
                            </a>

                            <a href="/signup" class="btn custom-btn d-inline-flex justify-content-center align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="me-1 bi bi-person-plus" viewBox="0 0 448 512">
                                    <path d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464l349.5 0c-8.9-63.3-63.3-112-129-112l-91.4 0c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304l91.4 0C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7L29.7 512C13.3 512 0 498.7 0 482.3z" />
                                </svg>
                                Đăng Ký
                            </a>
                        </div>

                        <!-- Hiển thị tên người dùng khi đã đăng nhập -->
                        <div sec:authorize="isAuthenticated()">
                            <span>Welcome, <span sec:authentication="principal.username"></span></span>
                            <!-- Form đăng xuất -->
                            <form th:action="@{/logout}" method="post">
                                <button type="submit" class="btn custom-btn d-inline-flex justify-content-center align-items-center logout-btn">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="16" height="16">
                                        <path d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 192 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l210.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128zM160 96c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 32C43 32 0 75 0 128L0 384c0 53 43 96 96 96l64 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l64 0z"/>
                                    </svg>
                                    Đăng xuất
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
